@font-face {
  font-family: "Harding Text";
  font-weight: 400;
  font-style: normal;
  src: url("https://raw.githubusercontent.com/springernature/frontend-toolkits/master/context/brand-context/nature/fonts/HardingText-Regular-Web.woff2")
}

@font-face {
  font-family: "Harding Text";
  font-weight: 800;
  font-style: normal;
  src: url("https://raw.githubusercontent.com/springernature/frontend-toolkits/master/context/brand-context/nature/fonts/HardingText-Bold-Web.woff2")
}

@font-face {
  font-family: "Harding Text";
  font-weight: 400;
  font-style: italic;
  src: url("https://raw.githubusercontent.com/springernature/frontend-toolkits/master/context/brand-context/nature/fonts/HardingText-RegularItalic-Web.woff2")
}

@font-face {
  font-family: "Harding Text";
  font-weight: 800;
  font-style: italic;
  src: url("https://raw.githubusercontent.com/springernature/frontend-toolkits/master/context/brand-context/nature/fonts/HardingText-BoldItalic-Web.woff2")
}

