@import "fonts.css";

@page {
  size: 210mm 279mm;
  margin: 50pt 40pt;
  font-family: 'Harding Text', serif;
  prince-shrink-to-fit: auto;

  @top-left {
    content: "Article";
    font-size: 14pt;
    font-weight: 900;
    padding-top: 20pt;
    border-bottom: 1px solid #000;
    margin-bottom: 8pt;
  }

  @left-middle {
    content: "";
    display: block;
    border-right: 1px solid #000;
    margin-right: 10pt;
  }
}

@page :left {
  @bottom-right {
    content: string(article-metadata);
    font-size: 7pt;
    padding-bottom: 10pt;
  }
}

@page :right {
  @bottom-left {
    content: counter(page) " | " string(journal-name) " | Vol " string(volume) " | " string(article-date);
    font-size: 8pt;
    padding-bottom: 10pt;
  }
}

body {
  font-family: 'Harding Text', serif;
  font-size: 9pt;
  background: none;
  line-height: 1.1;
  -webkit-print-color-adjust: exact;
  prince-linebreak-magic: auto;
  prince-image-resolution: auto, 600dpi;
  /*noinspection CssInvalidFunction*/
  prince-image-magic: jpeq-quality(90);
  prince-hyphenate-after: 5;
  prince-hyphenate-before: 2;
  prince-hyphenate-lines: 1;
  columns: 2;
}

p {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.3;
  hyphens: auto;
  orphans: 2;
  widows: 2;
  font-size: 8.2pt;
  text-indent: 1.5em;
}

/** header **/

header {
  column-span: all;
  border-bottom: 1px solid #000;
}

header .contrib-group > span:not(:last-of-type):after {
  content: ", "
}

header > div > h1 {
  string-set: title content();
  text-transform: none;
  font-size: 26pt;
  font-weight: 600;
  margin: 0;
  padding-bottom: 32pt;
  line-height: 1.1;
  border-bottom: 1px solid black;
  /*text-wrap: balance;*/
}

article section > h1 {
  font-size: 9pt;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 2pt;
  page-break-after: avoid;
}

article > section > h1 {
  font-size: 9.8pt;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 2pt;
  page-break-after: avoid;
  /*line-height: 1;*/
}

a {
  text-decoration: none;
  color: inherit;
}

a[href]:after {
  content: none !important;
}

sup, sub {
  line-height: 0;
}

[position="float"] {
  clear: none;
}

section:not(:last-child) {
  margin-bottom: 12pt;
}

/** table of contents **/

section.toc {
  column-span: all;
}

/** abstract **/

section[data-category="MPSectionCategory:abstract"] {
  margin: 10pt 0;
  column-span: all;
  padding-left: 30%;
}

section[data-category="MPSectionCategory:abstract"] > h1 {
  display: none;
}

section[data-category="MPSectionCategory:abstract"] p {
  text-align: left;
  line-height: 1.3;
  font-size: 9pt;
  text-indent: 0;
}

section[data-category="MPSectionCategory:abstract"] + section > h1 {
  display: none;
}

section > p:first-of-type {
  text-indent: 0;
}

/** methods **/

section[data-category="MPSectionCategory:materials-method"] > h1 {
  font-size: 12pt;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 0;
}

section[data-category="MPSectionCategory:materials-method"] > section h1 {
  font-size: 8.5pt;
  font-weight: 600;
  margin-bottom: 0;
}

/** authors **/

header .contrib-group {
  margin-top: 12pt;
  margin-bottom: 12pt;
  font-weight: 600;
  font-size: 9pt;
  line-height: 1.2;
}

header .contrib-group a[href^="mailto:"] {
  content: "📧"
}

header .contrib-group .contrib-name {
  white-space: nowrap;
}

header .contrib-group a[data-ref-type="aff"] {
  font-size: 5.5pt;
  vertical-align: super;
  line-height: 0;
}

/** affiliations **/

header .affiliations-list {
  font-weight: 200;
  margin: 12pt 0 12pt 20pt;
  line-height: 1.2;
  font-size: 6pt;
}

header .affiliations-list li {
  padding-left: 0;
}

/** figures **/

figure[data-size-fraction="2"] {
  column-span: all;
}

figure[data-size-fraction="2"] figcaption {
  columns: 2;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 24pt;
  page-break-inside: avoid;
  width: 100%;
  overflow: hidden;
}

figure.figure {
  /*noinspection CssInvalidPropertyValue*/
  float: column-top;
}

figure > img {
  max-height: 410pt;
  max-width: 100%;
  margin-bottom: 4pt;
}

figure .figure-label,
figure .figure-title {
  font-weight: 800;
  display: inline;
}

figcaption {
  width: 100%;
  columns: 1;
  text-align: left;
  font-size: 7pt;
  text-indent: 0;
  line-height: 1.4;
}

figure .fn {
  font-size: 7pt;
  margin-top: 1pt;
}

/** tables **/

.table-container, table {
  width: 100%;
}

td, th {
  padding: 1pt 0;
  text-align: left;
}

td sup {
  line-height: 0;
  position: relative;
  top: 1pt;
  font-size: 6pt;
}

td:not(:last-child), th:not(:last-child) {
  padding-right: 4pt;
}

th,
table tr:first-of-type > td {
  font-weight: 400 !important;
  padding-top: 3pt;
  background: #e6e6e6 !important;
}

table {
  border-collapse: collapse;
  page-break-inside: auto;
  page-break-after: auto;
  font-size: 8pt;
  width: 100% !important;
  margin: 2pt 0;
}

tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

td {
  page-break-inside: avoid;
  page-break-after: auto;
}

thead {
  display: table-header-group;
}

tfoot {
  display: table-footer-group;
}

/* references */

.bibliography > h1 {
  display: none;
}

.csl-bib-body {
  font-size: 6pt;
  column-gap: 16pt;
  margin-left: 4pt;
  display: table;
  line-height: 1.3;
  prince-hyphenate-after: 5;
  prince-hyphenate-before: 5;
  prince-hyphenate-lines: 3;
}

.csl-entry {
  display: table-row;
  padding-left: 0;
  margin-bottom: 5pt;
}

.csl-left-margin,
.csl-right-inline {
  display: table-cell;
}

.csl-left-margin {
  padding-right: 2pt;
  white-space: pre;
}

.csl-right-inline {
  text-align: left;
}

.citation sup {
  vertical-align: baseline;
  font-size: 1em;
}

/* back matter */

.back p[data-jats-content-type="fn-title"] {
  display: run-in;
}

/** bookmarks **/

h1 {
  prince-bookmark-level: 1
}

h2 {
  prince-bookmark-level: 2
}

h3 {
  prince-bookmark-level: 3
}

h4 {
  prince-bookmark-level: 4
}

h5 {
  prince-bookmark-level: 5
}

h6 {
  prince-bookmark-level: 6
}
